#right {
  float:right;
  width:60%;
  overflow:hidden;
  margin: auto;
  }
  table {
    width: 100%;
    margin-left:-8px;
    padding-left: -80px;
  }
  tr:nth-child(odd) {
    background-color: #ccc;
  }
  td {
    padding: 0.25em 0.25em;
  }
  @media (max-width: 500px) {
    table,
    thead, 
    tbody, 
    th, 
    td, 
    tr {
      display: block;
      overflow: hidden;
    }
    thead {
      tr {
        position: absolute; 
        top: -9999px;
        left: -9999px;
      }
    }
    
    tr:nth-child(odd) {
      td {
        border-bottom: 1px solid #aaa;
      }
    }
    
    td {
      display: flex;
      border-bottom: 1px solid #ccc;
       &:before { content: attr(data-label)": ";
        flex: 0 0 5em;
        font-weight: bold;
        margin-right: 0.5em;
        margin-bottom: 0.25em;
      }
    }
  }
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
  
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu{
      display: none;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu  {
      display: block;
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color:#f48f42;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  #container a{
    text-decoration: none;
  }
  #container a:hover{
    color: white;
  }
  .container{
    background-color: #38A1F3;
  }
  
   #contain h1{
     text-align: center; 
    }
   p{
    text-align: center;
  }
  #showcase button{
  color: #38A1F3;
  -moz-text-size-adjust: auto;
  }
  .button__badge{
    margin-left:5px; 
  }